h1,
h2,
h3,
h4 {
  font-family: 'Noto Sans KR', sans-serif;
}

h1 {
  font-size: 3rem;
  padding-top: 200px;
  text-transform: uppercase;
}

h2,
h3 {
  text-decoration: underline;
}

header {
  text-align: center;
  background:
    linear-gradient(rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)),
    url("header.jpg");
  background-size: cover;
  height: 500px;
  color: white;
}

body {
  font-family: 'Roboto', sans-serif;
}

.search-results {
  margin-top: 15px;
}

.video-item {
  cursor: pointer;
}

.video-detail {
  text-align: center;
}

footer {
  text-align: center;
  padding: 50px;
  background-color: #1b1c1d;
  ;
  color: rgba(255, 255, 255, .9);
  margin-top: 25px;
}

/* Dark Mode Toggle */

[data-theme="dark"] {
  --font-color: #eae7af;
  --bg-color: #160f30;
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
}

h1 {
  color: var(--heading-color);
}

/*slider switch css */
.toggle-label {
  font-weight: bold;
}

.theme-switch-wrapper {
  align-items: center;
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked+.slider {
  background-color: rgba(255, 255, 0, 0.76);
}

input:checked+.slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}